@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: rgba(105, 117, 145, 0.3);
  overflow-x: hidden; }

a {
  text-decoration: none; }

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  padding-top: 5rem; }

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.3rem;
  font-weight: 600;
  color: #262626;
  margin-top: 1rem; }

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #0b4ba5; }

h4 {
  color: black;
  font-weight: 400; }

/* ----------- animaciones ----------- */
@keyframes main-Animation {
  0% {
    transform: scale(1); }
  33% {
    transform: scale(1.1); }
  66% {
    transform: scale(1); } }

.scaleTitle {
  animation-name: main-Animation;
  animation-duration: 3s;
  animation-iteration-count: initial; }

.scale-nav :hover {
  transform: scale(1.1);
  transition: 0.5s; }

@keyframes mainAnimation {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.2); } }

.scaleContacto {
  animation-name: mainAnimation;
  animation-duration: 3s;
  animation-iteration-count: unset; }

/* ----------- GRID ----------- */
.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav" "header" "main" "footer"; }

#nav {
  grid-area: nav; }

#header {
  grid-area: header; }

#main {
  grid-area: main; }

#footer {
  grid-area: footer; }

/* ----------- selectores de clase ----------- */
.font-Xl {
  font-size: 2.4rem; }

.font-L {
  font-size: 2rem; }

.font-M {
  font-size: 1.6rem;
  font-weight: 400; }

.font-S {
  font-size: 1.4rem;
  font-weight: 400; }

.font-Xs {
  font-size: 1.2rem; }

.textLeft {
  text-align: left; }

/*-----inicia encabezado Mobile-----*/
.encabezado {
  background-image: url(../img/contenedores2-1.jpg); }
  .encabezado div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column; }
    .encabezado div h4 {
      width: 100%;
      margin-top: 20rem;
      margin-bottom: 0rem;
      padding: 1rem;
      color: #fdfdfd;
      background-color: rgba(16, 69, 79, 0.9);
      text-align: center; }

.botonera {
  background-color: #fdfdfd;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem; }
  .botonera img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 15rem; }
  .botonera ul {
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: 800; }
    .botonera ul li a:hover {
      font-weight: 600; }

.hamburger-style {
  border: none;
  text-align: left; }

/*-----incia contenido principal nosotros Mobile-----*/
.nosotros {
  background-color: #fdfdfd;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.nosotros section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.nosotros section article {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-around; }

.nosotros section article img {
  width: 90%; }

.nosotros section article h3 {
  font-size: 2rem; }

.nosotros section article p {
  font-size: 1.5rem; }

/*-----incia contenido principal Contacto Mobile-----*/
.contacto {
  background-color: #fdfdfd;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.contacto section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.contacto section div {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-around; }

.img--size {
  width: 30rem;
  height: 30rem; }

/*-----incia contenido principal Cotizacion Mobile-----*/
.cotizacion {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  align-items: center; }

.cotizacion form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.datEnvio {
  display: flex;
  justify-content: center;
  align-content: center; }

.datEnvio label {
  font-size: 1.5rem; }

.datOperation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.datMensaje {
  display: flex;
  justify-content: center;
  align-content: center; }

.diseño__form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  cursor: text;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  text-align: left;
  line-height: 4rem; }

.style {
  display: block;
  width: 25rem;
  height: 4rem;
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(9, 105, 121, 0.3);
  background-color: rgba(9, 105, 121, 0.1); }

.redondeado {
  width: 32rem;
  margin-top: 2rem;
  padding: 0.4rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(32, 33, 36, 0.1);
  background-color: rgba(9, 105, 121, 0.4); }

/*-----incia contenido principal Informacion Util Mobile-----*/
.informacionUtil {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.incoterms {
  width: 30rem;
  width: 30rem; }

.informacionUtil section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.links {
  width: 10rem;
  width: 10rem; }

/*-----incia contenido principal servicios Mobile-----*/
.servicios {
  background-color: #fdfdfd;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.servicios section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.servicios section article {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.servicios section article div {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.servicios section article div img {
  width: 95%;
  padding: 1.5rem; }

.servicios section article div p {
  width: 90%; }

.servicios section article div div img {
  width: 100%; }

.servicios section article div div p {
  width: 90%; }

.diseño__form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  cursor: text;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  text-align: left;
  line-height: 4rem; }

.style {
  display: block;
  width: 32rem;
  height: 4rem;
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(9, 105, 121, 0.3);
  background-color: rgba(9, 105, 121, 0.1); }

.redondeado {
  width: 32rem;
  margin-top: 2rem;
  padding: 0.4rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(32, 33, 36, 0.1);
  background-color: rgba(9, 105, 121, 0.4); }

/*-----incia footer Mobile-----*/
.pie {
  background: #10454f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-around;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  .pie div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-around; }
    .pie div h3 {
      color: white;
      font-size: 1.8rem; }
    .pie div h4 {
      color: white;
      font-size: 1.4rem; }
    .pie div div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }

.redes {
  padding: 1rem auto;
  color: white;
  font-size: 6rem;
  background-color: transparent;
  border: none; }

/*-----media queries 768px-----*/
@media (min-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "nav"  "header"  "main" "footer"; }
  /*-----inicia encabezado-----*/
  .botonera {
    vertical-align: baseline;
    width: 100vw;
    height: 7rem;
    padding-left: 1rem;
    padding-right: 1rem; }
  .botonera img {
    width: 12rem;
    padding-top: 0.4rem; }
  .botonera ul li {
    padding-left: 1.5rem;
    padding-right: 2rem; }
  /*-----inicia footer-----*/
  #footer {
    flex-direction: row;
    align-items: center;
    justify-items: space-evenly; }
  .incoterms {
    width: 70rem;
    width: 70rem; } }

/*-----media queries 1020px-----*/
@media (min-width: 1020px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "nav" "header" "main" "footer"; }
  .nosotros section {
    margin-top: 1rem;
    flex-direction: row;
    align-items: baseline; }
  .nosotros section article img {
    width: 100%; }
  .nosotrosArt {
    width: 25%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .servicios section article {
    flex-direction: row; }
  .contacto section {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
  .contacto section div {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-around; }
  .img--size {
    width: 60rem;
    height: 40rem; }
  .cotizacion form {
    flex-direction: row;
    align-items: center;
    justify-items: space-evenly; }
  .cotizacion form div {
    margin-right: 3rem;
    margin-left: 3rem; }
  .incoterms {
    width: 110rem;
    width: 110rem; }
  .links {
    width: 30rem; }
  .divLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-around; } }
