$background-image: url(../img/contenedores2-1.jpg);
$backgroundBotonera: rgba(253, 253, 253, 1);
$backgroundColor: rgba(16, 69, 79, .9);
$ColorStyle: rgba(9, 105, 121, .3);
$backgroundStyle: rgba(9, 105, 121, .1);
$redondeadoColor: rgba(32, 33, 36, .1);
$redondeadoBackground: rgba(9, 105, 121, .4);
$footerBackground: rgba(16, 69, 79, 1)



