/*-----incia contenido principal Contacto Mobile-----*/

.contacto{
	background-color: $backgroundBotonera;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacto section{
		width: 90%;
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

.contacto section div{
	padding-top: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: space-around;
	}

.img--size{
	width: 30rem; 
	height: 30rem;
}