/*-----incia contenido principal Contacto Mobile-----*/

.contacto{
	@extend .contPrincipal;
}

.contacto section{
		@include sections (90%, column, center);
		justify-content: space-around;
	}

.contacto section div{
	padding-top: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: space-around;
	}

.img--size{
	width: 30rem; 
	height: 30rem;
}


