/*-----incia contenido principal nosotros Mobile-----*/
.nosotros{
	@extend .contPrincipal;
}
	

	.nosotros section{
		@include sections (90%, column, center);
		justify-content: space-around;
	}

	.nosotros section article{
	padding-top: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: space-around;
	}

	.nosotros section article img{
		width: 90%;
	}

	.nosotros section article h3{
		font-size: 2rem;
	}

	.nosotros section article p{
		font-size: 1.5rem;
	}


	