/*-----incia contenido principal Informacion Util Mobile-----*/

.informacionUtil{
	background-color: $backgroundBotonera;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.incoterms{
	width: 30rem;
	width: 30rem;
}

.informacionUtil section article{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.links{
	width: 10rem;
	width: 10rem;
}

